{% extends 'base.html.twig' %}

{% block title %}Inventory index{% endblock %}

{% block body %}
    <h1>Inventory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ItemName</th>
                <th>SKU</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>SupplierName</th>
                <th>LastUpdated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.id }}</td>
                <td>{{ inventory.itemName }}</td>
                <td>{{ inventory.SKU }}</td>
                <td>{{ inventory.quantity }}</td>
                <td>{{ inventory.price }}</td>
                <td>{{ inventory.SupplierName }}</td>
                <td>{{ inventory.lastUpdatedAt ? inventory.lastUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">show</a>
                    <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inventory_new') }}">Create new</a>
{% endblock %}
