{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <h1>Settings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ setting.companyName }}</td>
            </tr>
            <tr>
                <th>LogoPath</th>
                <td>{{ setting.logoPath }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ setting.currency }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ setting.address }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ setting.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ setting.phone }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ setting.updatedAt ? setting.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_settings_index') }}">back to list</a>

    <a href="{{ path('app_settings_edit', {'id': setting.id}) }}">edit</a>

    {{ include('settings/_delete_form.html.twig') }}
{% endblock %}
