{% extends 'base.html.twig' %}

{% block title %}LeaveRequest{% endblock %}

{% block body %}
    <h1>LeaveRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ leave_request.id }}</td>
            </tr>
            <tr>
                <th>StartDate_at</th>
                <td>{{ leave_request.startDateAt ? leave_request.startDateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate_at</th>
                <td>{{ leave_request.endDateAt ? leave_request.endDateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ leave_request.reason }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ leave_request.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_leave_request_index') }}">back to list</a>

    <a href="{{ path('app_leave_request_edit', {'id': leave_request.id}) }}">edit</a>

    {{ include('leave_request/_delete_form.html.twig') }}
{% endblock %}
